<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Slideshows</title>
    {{!-- equalize output from build and build-all commands --}}
    <link rel="stylesheet" href="./slides/_assets/dist/slides/slides.css" id="theme" />
  </head>

  <body>
  {{#each projects}}
    <a href="{{this.url}}/">
      <div class="card" >
        <h1 class="title">{{this.name}}</h1>
      </div>
    </a>
  {{/each}}
  </body>
</html>
